*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  position: relative;
  display: flex;
  min-width: 800px;
  height: 100%;
  margin: 0;
  border-color: #fec7ee;
  font-family: Raleway, sans-serif;
}

.page__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page__heading { 
  z-index: 1;
  max-width: 739px;
  margin: 0 auto;
  font-size: 136px;
  letter-spacing: 3.5px;
  text-align: center;
  text-transform: uppercase;
}
